<!DOCTYPE html>
{{ with .Site.LanguageCode }}
  <html lang="{{ . }}">
{{ else }}
  <html>
{{ end }}
<head>
  <meta charset="UTF-8">
  <title>
    {{ if .IsHome }}
      {{ .Site.Title }}
    {{ else }}
      {{ .Title }} | {{ .Site.Title }}
    {{ end }}
  </title>
  {{ partial "head.html" . }}
</head>
<body>

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TXT52W"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <div class="p-page-wrapper">
    {{ partial "header.html" . }}

    {{ block "main" . }}

    {{ end }}
    {{ partial "footer.html" . }}
  </div>

  {{ partial "_icon.html" . }}

</body>
</html>