{{ define "main" }}
  <main role="main" class="p-main">

    {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
    {{ if $paginator.Pages }}
      <article>
        <header class="c-content-heading c-content-heading--en">
          <h1 class="c-content-heading__title-name">{{ .Title }}</h1>
        </header>
        <div class="c-summary-card-wrapper">
          {{ range $paginator.Pages }}
            {{ partial "_summary-card.html" . }}
          {{ end }}
        </div>
      </article>
    {{ end }}

  </main>
{{ end }}
