{{ define "main" }}
  <main role="main" class="p-main">
    <article class="c-article">
      <header class="c-heading">
        <h1 class="c-heading__title-name">{{ .Title }}</h1>
      </header>

      {{ if and (.Params.image) (ne .Params.image "") }}
        <div class="c-eyecatch">
          <img src="{{ .Params.image }}" alt="" class="c-eyecatch__image">
        </div>
      {{ end }}

      <section class="c-posted-body">
        {{ .Content }}
      </section>

      <footer class="c-posted-footer">
        <time class="c-posted-footer__timestamp">
          {{ .Date.Format "Jan 2, 2006" }}
        </time>

        {{ if .Params.tags }}
          <ul class="c-posted-footer__tags">
            {{ range .Params.tags }}
              <li>
                <a href="/tags/{{ . | urlize }}">{{ . }}</a>
              </li>
            {{ end }}
          </ul>
        {{ end }}

      </footer>
    </article>
  </main>
{{ end }}
