:root {
  --heading-margin: 2em;
}

.c-heading {
  position: relative;
  padding: 0 0 var(--heading-margin);
  margin: calc(var(--heading-margin) * 2) 0 var(--heading-margin);
  text-align: center;

  &::after {
    background: var(--font-color-default);
    position: absolute;
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    bottom: .2em;
    left: 50%;
    transform: translateX(-50%);
  }

  &.c-heading--en {
    font-family: var(--ff-logo);
  }

}

.c-heading__title-name {
  line-height: 1.3;
  font-size: var(--font-size-30px);
  font-weight: normal;
  margin: 0;
}
