{{ define "main" }}
  <main role="main" class="p-main">

    <ul class="p-my-accounts">
      <li class="p-my-accounts__item">
        <a href="https://github.com/otthi/" target="_blank">
          <svg class="p-my-accounts__icon" role="img" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#github"></use></svg>
        </a>
      </li>
      <li class="p-my-accounts__item">
        <a href="https://www.instagram.com/otthi194" target="_blank">
          <svg class="p-my-accounts__icon" role="img" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#instagram"></use></svg>
        </a>
      </li>
    </ul>

    {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
    {{ if $paginator.Pages }}
      <article class="c-article">
        <header class="c-heading c-heading--en">
          <h1 class="c-heading__title-name">Recent Articles</h1>
        </header>
        <div class="c-summary-card-wrapper">
          {{ range $paginator.Pages }}
          {{ partial "_summary-card.html" . }}
          {{ end }}
        </div>
      </article>
    {{ else }}
      <p class="c-message">
        準備中
      </p>
    {{ end }}


  </main>
{{ end }}
