.p-copyright {
  font-size: var(--font-size-12px);
  font-style: normal;
  text-align: center;
  font-family: var(--ff-en);
  padding: 1.5em 0;
  background: rgba(0, 0, 0, .1);

  address {
    font-style: inherit;
  }
}