:root {
  --header-prof-size: 160px;
  --header-logo-margin: 35px;
}

.p-header {
  background: var(--color-offwhite);
  box-shadow: 0 0 3px rgba(0, 0, 0, .4);
}

.p-header-logo {
  font-family: var(--ff-logo);
  font-weight: normal;
  color: var(--header-logo-color);
  font-size: var(--font-size-30px);
  text-align: center;
  padding: var(--header-logo-margin) 0;
  margin: 0 0 var(--header-logo-margin);

  a {
    text-decoration: none;
    color: currentColor;
    display: inline-block;
    transition: all .2s;
    &:hover {
      transform: scale(1.2);
    }
  }

  .p-header-logo__image {
    display: none;
  }

  &.p-header-logo--top {
    padding-bottom: calc(var(--header-prof-size) / 4 + var(--header-logo-margin));
    margin-bottom: calc(var(--header-prof-size) / 4 + var(--header-logo-margin));
    position: relative;
    @media (--screen-md-upper) {
      padding-bottom: calc(var(--header-prof-size) / 2 + var(--header-logo-margin));
      margin-bottom: calc(var(--header-prof-size) / 2 + var(--header-logo-margin));
    }
    .p-header-logo__image {
      display: block;
    }

  }

}

.p-header-logo__image {
  animation: bouncein 0.75s;
  width: calc(var(--header-prof-size) / 2);
  height: calc(var(--header-prof-size) / 2);
  border-radius: 100%;
  position: absolute;
  left: 50%;
  bottom: calc(var(--header-prof-size) / 4 * -1);
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, .4);
  margin-left: calc(var(--header-prof-size) / 4 * -1);

  @media (--screen-md-upper) {
    width: var(--header-prof-size);
    height: var(--header-prof-size);
    bottom: calc(var(--header-prof-size) / 2 * -1);
    margin-left: calc(var(--header-prof-size) / 2 * -1);
  }

  img {
    width: 100%;
  }

}
